blinker==1.9.0
brotli==1.2.0
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.1
colorama==0.4.6
cssselect2==0.8.0
et_xmlfile==2.0.0
Flask==3.1.2
fonttools==4.61.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
narwhals==2.15.0
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pdfkit==1.0.0
pillow==11.3.0
plotly==6.5.1
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.4
six==1.17.0
tinycss2==1.5.1
tinyhtml5==2.0.0
tzdata==2025.2
weasyprint==68.0
webencodings==0.5.1
Werkzeug==3.1.5
zopfli==0.4.0
